      - name: build and test
        run: |
          rsync -av ./ /root/ros2_ws/src/topic_watchdog/
          cd /root/ros2_ws

          # ROS 2 environment
          . /opt/ros/humble/setup.bash

          # Install dependencies for tests (ament_* linters etc.)
          apt-get update
          apt-get install -y python3-rosdep
          rosdep update
          rosdep install -i --from-paths src --rosdistro humble -y

          colcon build --packages-select topic_watchdog
          . /root/ros2_ws/install/setup.bash

          set +e
          colcon test --packages-select topic_watchdog
          rc=$?
          colcon test-result --verbose
          exit $rc

