name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest

    steps:
      - uses: actions/checkout@v4

      - name: build and test
        run: |
          rsync -av ./ /root/ros2_ws/src/topic_watchdog/
          cd /root/ros2_ws
          colcon build --packages-select topic_watchdog
          . /root/ros2_ws/install/setup.bash
          colcon test --packages-select topic_watchdog
          colcon test-result --verbose

